{% extends 'base.html' %}
{% block maincontent %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="containerForm">
                <h1 class="mb-4 text-center">Crear Parametro</h1>
                <form method="post">
                    <div class="form-group">
                        <label for="nombre_parametro">Nombre del Parametro:</label>
                        <input type="text" class="form-control" id="nombre_parametro" name="nombre_parametro" required>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="segundos_parametro">Minutos:</label>
                                <input type="number" class="form-control" id="segundos_parametro" min="0" name="segundos_parametro" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="distancia_parametro">Distancia en metros:</label>
                                <input type="number" class="form-control" id="distancia_parametro" min="0" name="distancia_parametro" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="velocidad_parametro">Velocidad en Km/h:</label>
                                <input type="number" class="form-control" id="velocidad_parametro" min="0" name="velocidad_parametro" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" style="margin-top: 20px;">Crear Parametro</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}