{% extends 'base.html' %}
{% block maincontent %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="containerForm">
                <h1 class="text-center mb-4">Agregar Departamento</h1>
                <form method="POST">
                    <div class="mb-3">
                        <label for="nombre_departamento" class="form-label">Nombre del departamento:</label>
                        <input type="text" name="nombre_departamento" id="nombre_departamento" class="form-control" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success btn-block">Agregar departamento</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}