{% extends 'base.html' %}
{% block maincontent %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="containerForm">
                <h1 class="mb-4">Crear Tipo de Vehiculo</h1>
                <form method="post">
                    <div class="mb-3">
                        <label for="nombre_tv">Nombre del Tipo de Vehiculo:</label>
                        <input type="text" class="form-control" id="nombre_tv" name="nombre_tv" required>
                    </div>
                    <button type="submit" class="btn btn-success">Crear Tipo Vehiculo</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}