{% extends 'base.html' %}
{% block maincontent %}
<div class="container mt-5">
    <h2>Lista de Tipos de Vehiculo</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for falla in fallas %}
                <tr>
                    <td>{{ falla.nombre_falla }}</td>
                    <td><a href="#" class="btn btn-success">Editar Falla</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock maincontent %}