{% extends 'base.html' %}
{% block maincontent %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="containerForm">
                <h1 class="mb-4">Editar Vehículo</h1>
                <form method="post" action="{{ url_for('crud.editar_vehiculo', id_vehiculo=vehiculo.id_vehiculo) }}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="flota">Flota:</label>
                        <select class="form-control" id="flota" name="flota" required>
                            {% for flota in flota %}
                                <option value="{{ flota.id_flota }}">{{ flota.nombre_flota }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="patente" class="form-label">Patente:</label>
                                <input type="text" class="form-control" id="patente" name="patente" value="{{ vehiculo.patente }}" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="gps" class="form-label">GPS:</label>
                                <input type="text" class="form-control" id="gps" name="gps" value="{{ vehiculo.gps }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="estado">Estado:</label>
                                <select class="form-control" id="estado" name="estado" required>
                                    <option value="" {% if not vehiculo.estado %}selected{% endif %}>Seleccionar Estado</option>
                                    <option value="Activo" {% if vehiculo.estado == 'Activo' %}selected{% endif %}>Activo</option>
                                    <option value="En Reparacion" {% if vehiculo.estado == 'En Reparacion' %}selected{% endif %}>En Reparacion</option>
                                    <option value="Inutilizable" {% if vehiculo.estado == 'Inutilizable' %}selected{% endif %}>Inutilizable</option>
                                    <option value="Dado de baja" {% if vehiculo.estado == 'Dado de baja' %}selected{% endif %}>Dado de baja</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="restriccion">Restriccion:</label>
                                <select class="form-control" id="restriccion" name="restriccion" required>
                                    <option value="1" {% if vehiculo.restriccion == 1 %}selected{% endif %}>Sin Restricción</option>
                                    <option value="2" {% if vehiculo.restriccion == 2 %}selected{% endif %}>Con Restricción</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="tipo_vehiculo">Tipo Vehiculo:</label>
                                <select class="form-control" id="tipo_vehiculo" name="tipo_vehiculo" required>
                                    {% for tipo_vehiculo in tipo_vehiculo %}
                                        <option value="{{ tipo_vehiculo.id_tv }}" {% if tipo_vehiculo.id_tv == vehiculo.id_tv %} selected {% endif %}>{{ tipo_vehiculo.nombre_tv }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="detalles_tv">Subtipo:</label>
                                <select class="form-control" id="detalles_tv" name="detalles_tv" required>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="foto" class="form-label">Foto:</label>
                        <input type="file" class="form-control" id="foto" name="foto">
                    </div>
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}
{% block scripts %}
<script>
    // Precargar las opciones del tipo de vehículo y detalles de tipo de vehículo
    window.addEventListener('DOMContentLoaded', (event) => {
        cargarDetallesPorTipoVehiculo();
    });

    // Función para cargar los detalles de tipo de vehículo según el tipo seleccionado
    document.getElementById('tipo_vehiculo').addEventListener('change', function() {
        cargarDetallesPorTipoVehiculo();
    });

    // Función para cargar los detalles de tipo de vehículo
    function cargarDetallesPorTipoVehiculo() {
        var tipoVehiculoId = document.getElementById('tipo_vehiculo').value;
        fetch('/detalles_tv/' + tipoVehiculoId)
            .then(response => response.json())
            .then(data => {
                var detallesTvSelect = document.getElementById('detalles_tv');
                detallesTvSelect.innerHTML = ''; // Limpiar opciones anteriores

                // Crear una opción por cada detalle de tipo de vehículo
                data.forEach(detalle => {
                    var option = document.createElement('option');
                    option.value = detalle.id_dtv;
                    option.textContent = detalle.nombre_dtv;
                    detallesTvSelect.appendChild(option);
                });
            });
    }
</script>
{% endblock scripts %}