<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Municipalidad Alto Hospicio</title>
    <script src="{{ url_for('static', filename='JS/scripts.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='IMAGES/logo_hospicio.png') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilo.css') }}">
    {% block headcontent %}
    {% endblock %}
</head>
<body>
    <button class="btn btn-success toggler" onclick="toggleSidebar()">☰</button>
    <div class="sidebar" id="sidebar">
        <button type="button" class="btn-close close-btn" aria-label="Close" onclick="toggleSidebar()"></button>
            <div class="sidebar-content">
                <img src="{{ url_for('static', filename='IMAGES/logo_hospicio.png') }}" alt="logo_hospicio" class="logo mb-4">
                <a href="{{ url_for('main.index') }}" class="btn btn-success d-block mb-2">Volver al inicio</a>
                <a href="{{ url_for('main.menu_coordenadas') }}" class="btn btn-success d-block mb-2">Menú Coordenadas</a>
                <a href="{{ url_for('main.menu_vehiculo') }}" class="btn btn-success d-block mb-2">Menú Vehiculo</a>
                <a href="{{ url_for('main.menu_personal') }}" class="btn btn-success d-block mb-2">Menú Personal</a>
                <a href="{{ url_for('main.menu_equipo') }}" class="btn btn-success d-block mb-2">Menú Equipo</a>
                <a href="{{ url_for('main.menu_datos') }}" class="btn btn-success d-block mb-2">Administración de Datos</a>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-danger d-block">Cerrar sesión</a>
            </div>
    </div>
    {% block body %}
    {% endblock %}
    <div class="main-content" id="mainContent">
        {% block maincontent %}
        {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>
